@model int
    <button type="submit" class="btn btn-primary mr-lg-2" asp-route-id="@Model"><i class="fas fa-save"></i> Actualizar</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
